#level-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#level-2 {
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
  .peas {
    grid-column: 1 / span 3;
    grid-column: 3/1;
  }
}

#level-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  .onions {
    grid-column: 2 / span 4;
  }
  .tomatoes {
    grid-column: 1 / span 2;
  }
  .carrots {
    grid-column: 2/1;
    grid-column: 1 / -1;
  }
}
